<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8UXd30hGl7k8LGr_vyloLUFPlDVJZBuc</string>
	<key>GCM_SENDER_ID</key>
	<string>427308149539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.legalzhub.app</string>
	<key>PROJECT_ID</key>
	<string>legalzhub</string>
	<key>STORAGE_BUCKET</key>
	<string>legalzhub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427308149539:ios:d4602528a029bb2df7fa96</string>
</dict>
</plist>